<h1>Children's Dictionary</h1>
<p> (as written by children) </p>

<h3>Words we've defined!</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word</a>